NEXT_PUBLIC_CLIENT_ID=this-is-required-else-pageview-calls-fail
NEXT_PUBLIC_APP_URL=http://localhost:5151
NEXT_PUBLIC_API_URL=http://localhost:3002
NEXT_PUBLIC_API_KEY=bb2a7013-9443bb81-ed3528bc-e839c240-d5d26a84-8272a60e-33af0187-018bfb2b
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fk-backend
CLIENT_ID=22

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

TOKEN=dddd
